p {
  font-family: Lato;
}
.tree ul {
  margin-left: -29px;
}

.oscal-prompt-class {
  --backdrop-opacity: 0.2;
  --background: linear-gradient(0deg, rgb(8, 8, 98) 1%, rgb(6, 6, 36) 100%);
  --min-width: 30%;
}
