<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Authoring Method</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-fab vertical="top" horizontal="left" slot="fixed" style="top:10;left:100;">
    <oscal-nav-cat></oscal-nav-cat>
  </ion-fab>

  <div class="content">
    <ion-grid>
      <ion-row>
        <ion-col>
          <oscal-authoring-mode></oscal-authoring-mode>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>