<div>
  <form [formGroup]="subForm" (ngSubmit)="onSave()">
    <!-- The General Title of the Form -->
    <br />
    <!-- color="warning" -->
    <ion-title *ngIf="!hideTitle" style="text-align: center;">
      <ion-icon icon="{{iconName}}"></ion-icon>&nbsp;&nbsp;&nbsp;{{getActionFormTitle()}}
    </ion-title>

    <div> <br *ngIf="showAddCancelButtons" />
      <ion-buttons *ngIf="showAddCancelButtons" class="even-ion-buttons bottomless" color="warning">
        <ion-button (click)="onCancel()" color="danger"
          title="Press to cancel changes to {{actionName}} {{entityName}}">
          <ion-icon slot="start" icon="close-circle-outline"></ion-icon>Cancel
        </ion-button>
        <ion-button [disabled]="!subForm.valid" (click)="this.onSave()" [color]="!subForm.valid?'dark':'success'"
          title="Press to {{actionName}} {{entityName}}">
          <ion-icon slot="start" icon="{{iconName}}"></ion-icon>{{this.getSaveButtonTitle()}}
        </ion-button>
      </ion-buttons>

    </div>

    <div formArrayName="entries" class="topless">

      <div *ngFor="let entryInfo of subArray.controls; let i=index;" class="topless">
        <div [formGroupName]="i" class="topless">

          <ion-grid *ngFor="let mapKV of this.inputsMap|keyvalue; let inputIndex = index;">
            <ion-row *ngIf="!mapKV.value.complexInputType">
              <ion-col>
                <ion-item>
                  <ion-label position="floating">
                    {{mapKV.value.labelName + (isOptional(mapKV.value)?this.label4Optional:'')}}
                  </ion-label>
                  <ion-input [formControlName]="mapKV.value.fieldToMap" [title]="getToolTip(mapKV.value.inputTip)"
                    type="text">
                  </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="!!mapKV.value.complexInputType">

              <!-- UUID Complex Type Handling -->
              <ion-col *ngIf="mapKV.value.inputAs==='uuid'">
                <ion-item>
                  <ion-label position="floating">
                    {{mapKV.value.labelName + (isOptional(mapKV.value)?this.label4Optional:'')}}
                  </ion-label>
                  <ion-input [formControlName]="mapKV.value.fieldToMap" [title]="getToolTip(mapKV.value.inputTip)"
                    type="text">
                  </ion-input>
                  <ion-buttons slot="end">
                    <ion-button (click)="this.onAssignArrayElementUUID(i)" color="secondary" slot="end">
                      <ion-icon slot="start" icon="snow-outline"></ion-icon>
                      <span>Generate New UUID</span>
                    </ion-button>
                  </ion-buttons>
                </ion-item>
              </ion-col>

              <!-- The Remarks -->
              <ion-col *ngIf="mapKV.value.inputAs==='textarea'">
                <ion-item>
                  <ion-label position="floating">
                    {{mapKV.value.labelName + (isOptional(mapKV.value)?this.label4Optional:'')}}
                  </ion-label>
                  <ion-textarea [formControlName]="mapKV.value.fieldToMap" [title]="getToolTip(mapKV.value.inputTip)"
                    type="text" rows="2" autoGrow="true">
                  </ion-textarea>
                </ion-item>
              </ion-col>

              <!-- Address [!=- Mandatory -=!]-->
              <ion-col *ngIf="mapKV.value.inputAs==='oscal-address-list'">
                <oscal-address-list [isSingleMode]="true" [entryName]="this.defaultSingleTitle"></oscal-address-list>
              </ion-col>

              <!-- Phones for Location -->
              <ion-col *ngIf="mapKV.value.inputAs==='oscal-array-phones'">
                <oscal-array-phones #phonesArray [parentEntity]="this.defaultSingleTitle"
                  [isArrayOptionalText]="'(Optional)'">
                </oscal-array-phones>
              </ion-col>

              <!-- Emails-->
              <ion-col *ngIf="mapKV.value.inputAs==='oscal-array-emails'">
                <oscal-array-string #emailsArray [parentEntity]="this.defaultSingleTitle" [isArrayOptional]="true"
                  [ID]="'emailAddressesLocation'" [stringData]="[]" listTitle="Emails"
                  [parentEntity]="this.defaultSingleTitle" [parentName]="this.defaultSingleTitle" inputName="Email"
                  [validateAs]="getEmailValidator()" [isArrayOptionalText]="'(Optional)'"></oscal-array-string>
              </ion-col>

              <!-- URLs -->
              <ion-col *ngIf="mapKV.value.inputAs==='oscal-array-urls'">
                <oscal-array-string #urlsArray [parentEntity]="this.defaultSingleTitle" [isArrayOptional]="true"
                  [ID]="'emailAddressesLocation'" [stringData]="[]" listTitle="URLs"
                  [parentEntity]="this.defaultSingleTitle" [parentName]="this.defaultSingleTitle" inputName="URL"
                  [validateAs]="getEmailValidator()" [isArrayOptionalText]="'(Optional)'"></oscal-array-string>
              </ion-col>

              <!-- Links-->
              <ion-col *ngIf="mapKV.value.inputAs==='oscal-array-links'">
                <oscal-array-links #linksArray [parentEntity]="this.defaultSingleTitle"
                  [isArrayOptionalText]="'(Optional)'">
                </oscal-array-links>
              </ion-col>

              <!-- Properties-->
              <ion-col *ngIf="mapKV.value.inputAs==='oscal-array-properties'">
                <oscal-array-properties #propsArray [parentEntity]="this.defaultSingleTitle"
                  [isArrayOptionalText]="'(Optional)'">
                </oscal-array-properties>
              </ion-col>

            </ion-row>


          </ion-grid>
        </div>
      </div>
    </div>



    <div>
      <ion-buttons *ngIf="showAddCancelButtons" class="even-ion-buttons bottomless" color="warning">
        <ion-button (click)="onCancel()" color="danger"
          title="Press to cancel changes to {{actionName}} {{entityName}}">
          <ion-icon slot="start" icon="close-circle-outline"></ion-icon>Cancel
        </ion-button>
        <ion-button [disabled]="!subForm.valid" (click)="this.onSave()" [color]="!subForm.valid?'dark':'success'"
          title="Press to {{actionName}} {{entityName}}">
          <ion-icon slot="start" icon="{{iconName}}"></ion-icon>{{this.getSaveButtonTitle()}}
        </ion-button>
      </ion-buttons><br *ngIf="showAddCancelButtons" />
    </div>

  </form>

</div>