<li *ngFor="let item of children">
    <div #node>
        <ion-item class="node_style" title="{{item.toolTip || item.getToolTip(item)}}">

            <ion-item (click)="closeOpen(item)" class="ion-no-padding">
                <ion-icon *ngIf="!item.open && item.children" slot="start" icon="add" class="ion-no-padding">
                </ion-icon>
                <ion-icon *ngIf="item.open  && item.children" slot="start" icon="arrow-down" class=" ion-no-padding">
                </ion-icon>
            </ion-item>

            <ion-label>{{ item.label }}</ion-label>
            <ion-item>
                <ion-badge *ngIf="item.children && item.partsCount>0 && item.isCatalog() " color="medium">
                    {{item.partsCount}} Groups
                </ion-badge>
                <ion-badge *ngIf="item.children && item.partsCount>0 && item.isGroup()" color="medium">
                    {{item.partsCount}} Controls
                </ion-badge>
                <ion-badge *ngIf="item.partsCount>0 && item.isControl()" color="primary">{{item.partsCount}} Params
                </ion-badge>
            </ion-item>

            <ion-item>
                <ion-label [color]="item.hasSomeIncluded(item)?'success':'default'">In</ion-label>
                <ion-checkbox (click)="onJoinNodeCheck(item)" [(ngModel)]="item.included" color="success">
                </ion-checkbox>
                <!-- ion-label [color]="item.hasSomeExcluded(item)?'danger':'default'">Out</ion-label -->
            </ion-item>


            <ion-button (click)="presentPrompt(item)">Info
                <ion-icon slot="end" icon="chatbox-outline"></ion-icon>
            </ion-button>

        </ion-item>
        <ul recursive-tree-cat *ngIf="item.children" [children]="item.children" [parent]="self"
            [class.hidden]="!item.open" [level]="level != undefined ? level + 1 : 0">
        </ul>
    </div>
</li>