.oscal-modal-prompt-class {
  --backdrop-opacity: 0.2;
  --background: linear-gradient(230deg, rgb(4, 4, 88) 1%, rgb(6, 6, 36) 100%);
  background: linear-gradient(230deg, rgb(18, 6, 43) 1%, rgb(6, 6, 36) 100%);
  --min-width: 30%;
  min-width: 30%;
}
