/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*
 * App CSS
 * ----------------------------------------------------------------------------
 * Imports a file that can contain Sass/CSS that should be used in the app
  */
@import "./app/app.scss";


.transparent-modal {
  --background: #00000066;

  // &::part(media) {
  //   height: 120px;
  //   width: 343px;
  // }

  &::part(content) {
    backdrop-filter: blur(12px);
    text-align: center;
    height: 180px;
    width: 373px;
    margin: auto;
    border-radius: 2px;
  }

  &::part(backdrop) {
    --background: transparent;
    background-color: transparent;
  }

  ion-content {
    --background: transparent;
  }
}


.delete-alert-global-class {
  // The class for styling the pop-up alerts on delete actions
  --min-width: 34%; 
  --backdrop-opacity: 0.2;
  --background:linear-gradient(180deg, rgba(128, 0, 0, 1), rgba(222, 0, 0, 1));
  // --background: rgba(128, 0, 0, 1) url("./assets/images/delete.png") no-repeat center !important; // Red Alert
  // --background:linear-gradient(red, orange, yellow, green, blue); //Rainbow
  // --background: linear-gradient(red 10%, 30%, blue 90%); 
  // --background:url(./assets/images/delete.png);
  // --background:linear-gradient(red 0%, orange 10%, orange 30%, yellow 50%, yellow 70%, green 90%, green 100%);
}