<ion-row>

  <ion-col>
    <ion-item>
      <ion-label>{{this.getTitle()}}</ion-label>
    </ion-item>
  </ion-col>

  <ion-col *ngIf="this.isString()">
    <ion-item>
      <ion-input #valueStr type="text" title="this.getToolTip()" value=“{{getValue()}}”>
      </ion-input>
      <ion-label *ngIf="this.getUnitName()">{{this.getUnitName()}}</ion-label>
    </ion-item>
  </ion-col>

  <ion-col *ngIf="this.isNumber()">
    <ion-item>
      <ion-input #valueNum type="number" title="this.getToolTip()" value="{{getValue()}}">
      </ion-input>
      <ion-label *ngIf="this.getUnitName()">{{this.getUnitName()}}</ion-label>
    </ion-item>
  </ion-col>

  <ion-col *ngIf="this.isBoolean()">
    <ion-item class="topless bottomless">{{this.strBinValue}}
      <!--         
        
        <ion-checkbox #valueBin title="this.getToolTip()" checked=“{{this.getValue()}}”>
        </ion-checkbox> -->
      <ion-radio-group allow-empty-selection="false" class="topless bottomless" [(ngModel)]="this.strBinValue"
        (ionChange)="radioGroupChange($event)">
        <ion-row>
          <ion-col>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>False&nbsp;</ion-label>
              <ion-radio #valueBinFalse description="Settings will be FALSE" value="false" color="danger"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>True&nbsp;</ion-label>
              <ion-radio #valueBinTrue description="Settings will be TRUE" value="true" color="success"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>

      </ion-radio-group>
      <ion-label *ngIf="this.getUnitName()">{{ this.getUnitName() }}</ion-label>
    </ion-item>
  </ion-col>

  <ion-col>
    <ion-item>
      <!-- expand="block" fill="clear"  -->
      <ion-button (click)="onClick()" shape="round">
        {{this.getButtonTitle()}}</ion-button>
    </ion-item>
  </ion-col>

</ion-row>