.loading-modal {
  --height: 54px;
  --width: 86px;
  --max-height: 54px;
  --max-width: 186px;

  height: 99px;
  width: 333px;
  max-height: 99px;
  max-width: 333px;
}

.modal-title{
  text-align: center;
}

.progress-bar{
  text-align: center;
  width:100%;
  height:50px;
}

.xxx-setting-modal .xxx-modal-wrapper {
  --ion-background-color: #f12000;
  --border-radius: 20px;
  --max-height: 55%;
  --max-width: 80%;
  --width: 80%;
  --height: 50%;
  --border-style: dotted;
  --border-color: #428cff;
  border-width: 5px;
  top: 20%;
}


