{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "header"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "header/header": [
            "error",
            "./meta/license_header.txt"
        ],
        "no-extra-boolean-cast": [
            "off"
        ]
    }
}