<div>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-title>&nbsp;&nbsp;Select Authoring Mode</ion-title>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-text>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Start new profile with a catalog, or continue previously saved session.
                </ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
<br />
<div>
    <ion-radio-group (ionChange)="handleRadioChange($event)">
        <div *ngIf="true">
            <!-- Start with a new document (from scratch) -->
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-title>&nbsp;&nbsp;Start with a Known OSCAL Catalog</ion-title>
                    </ion-col>
                </ion-row>
                <!--  onclick="this.popAlert(oscalFile.cat_suffix, itemIndex)" -->
                <ion-row *ngFor="let oscalFile of this.oscalFiles; let itemIndex = index">
                    <ion-col>
                        <ion-item>
                            <ion-radio value="{{itemIndex}}">
                            </ion-radio>&nbsp;&nbsp;&nbsp;&nbsp;
                            <ion-label>{{oscalFile.cat_label}}</ion-label>
                            <ion-item>
                                <ion-label>Add</ion-label>
                                <ion-item>
                                    <ion-label icon="newspaper-outline">Cat </ion-label>
                                    <ion-checkbox slot="end"></ion-checkbox>
                                </ion-item>
                                <ion-item>
                                    <ion-label icon="newspaper-outline">Profile </ion-label>
                                    <ion-checkbox slot="end"></ion-checkbox>
                                </ion-item>
                            </ion-item>
                            <div>
                            </div>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <br />
        <div *ngIf="!this.newDraft && this.hasSavedWork()">

            <ion-grid *ngIf="this.savedWork && this.savedWork.length>0">
                <ion-row>
                    <ion-col>
                        <ion-title>&nbsp;&nbsp;Continue with the Previously Saved Work</ion-title>
                    </ion-col>
                </ion-row>
                <!-- Continue working with the previously saved item(s) -->
                <ion-row *ngFor="let workItem of this.savedWork; let savedIndex = index">
                    <ion-col>
                        <ion-item>
                            <ion-radio value="{{2+savedIndex}}">
                            </ion-radio>&nbsp;&nbsp;&nbsp;&nbsp;
                            <ion-label>{{workItem.name}} [{{workItem.uuid}}]</ion-label>

                            <ion-button [title]="'Press to remove '.concat(workItem.name)" color="danger"
                                (click)="presentDeleteWarning($event,savedIndex)">
                                <ion-icon icon='trash-outline'></ion-icon>
                            </ion-button>
                            <ion-button [title]="'Press to edit '.concat(workItem.name)"
                                (click)="editWorkItemName($event,savedIndex)" disabled="true">
                                <ion-icon icon='pencil-outline'></ion-icon>
                            </ion-button>


                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </ion-radio-group>
    <!--

    <oscal-cat-controls #catControlsTab [ID]="'catControls'" [controls]="[undefined]" actionName="Add"
        iconName="location-outline" parentName="Meta-Information" inputName="Location" [singleMode]="true"
        hideAddButton="true" [hideAddElementButton]="true" [showAddCancelButtons]="true"
        (closeTab)="cancelAddTab($event)" (saveTab)="this.addEditLocation($event, false)">
    </oscal-cat-controls>
    <oscal-cat-params></oscal-cat-params>



 -->
</div>